h1, h2, body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-size: 2em;
  padding-top: 10px;
}

h2 {
  padding-left: 10px;
  font-size: 1.2em;
}

body {
  height: 2500px;
  width: 100%;
  background-color: gold;
}

.header {
  padding: 10px 10px 10px 10px;
  width: 100%;
  background-color: black;
  color: white;
  float: left;
}

.logo {
  height: 65px;
  float: left;
}

.field-list {
  margin: 30px 30px 30px 30px;
  padding: 30px 7% 30px 2%;
  text-align: right;
  background-color: lemonchiffon;
  float: left;
}
.field-list h3 {
  text-align: left;
  padding-left: 10px;
  font-size: 1.3em;
}
