<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
</head>

<body>
  <div class="header">
    <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Logo-Raiffeisenbank-1877.svg/820px-Logo-Raiffeisenbank-1877.svg.png">
    <h1>
      Special field components!
    </h1>
  </div>
  <h2>Here are some components for testing: </h2>
  <div class="field-list col-md-11 col-lg-5 col-sm-11">
    <h3>Rodné číslo</h3>
    <app-ngx-mask [data]="rc"></app-ngx-mask>
    <br>
    <app-angular2-test-mask [data]="rc"></app-angular2-test-mask>
    <br>
    <app-brmasker4 [data]="rc"></app-brmasker4>
    <br>
    <app-la-input-mask [data]="rc"></app-la-input-mask>
  </div>
  <div class="field-list col-md-11 col-lg-5 col-sm-11">
    <h3>Platnosť karty</h3>
    <app-ngx-mask [data]="cardValidity"></app-ngx-mask>
    <br>
    <app-angular2-test-mask [data]="cardValidity"></app-angular2-test-mask>
    <br>
    <app-brmasker4 [data]="cardValidity"></app-brmasker4>
    <br>
    <app-la-input-mask [data]="cardValidity"></app-la-input-mask>
  </div>
  <div class="field-list col-md-11 col-lg-5 col-sm-11">
    <app-dates></app-dates>
  </div>
  <div class="field-list col-md-11 col-lg-5 col-sm-11">
    <app-telephones></app-telephones>
  </div>
  <div class="field-list col-md-11 col-lg-5 col-sm-11">
    <app-cards></app-cards>
  </div>
</body>

</html>
